{% extends "learning_logs/base.html" %}

{% block content %}
    
    <h1>Topics</h1>

    <ul>
    {% for topic in topics %}
        <li>{{ topic.text }}</li>  

        <ul>
            {% for entry in topic.entry_set.all %}
                <li>
                    <a href="{% url 'learning_logs:entry' entry.id %}">
                        {% if entry.text|length > 50 %}
                            {{ entry.text|slice:":50" }}...
                        {% else %}
                            {{ entry.text }}
                        {% endif %}
                    </a>
                </li>
            {% empty %}
                <li>No logs for this topic.</li>
            {% endfor %}
        </ul>

    {% empty %}
        <li>No topics added yet</li>
    {% endfor %}
    </ul>

{% endblock %}